<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html>

<head>
  <title>Adoption Confirmation</title>
</head>


<div class="squareBox">
  <h2>Would you like to confirm the adoption?</h2>

</div>


<body>

</body>

</html>

<%- include("partials/footer.ejs") %>
