<%- include("partials/header.ejs") %>

<p><%= dogs %></p>

<!-- <% dogs.forEach( function(i) { %>

    <p><%= i.id %></p>

<% }) %> -->

<script src="js/script.js"></script>

<%- include("partials/footer.ejs") %>
