<%- include("partials/header.ejs") %>



<h2>Login</h2>
<!-- -->
<form method="POST" action="/">
  <h3> Username </h3>
  <input type="text" id="username" name="username"><br>
  <h3> Password </h3>
  <input type="password" id="password" name="password"><br>
  <input type="submit" value="Submit">
</form>

<%- include("partials/footer.ejs") %>
