<%- include("partials/header.ejs", authenticated, user) %>

<div class="pattern pt-4">
    <div class="float:right">
        <div class="card mb-5" id="search">
            <h1 class="card-title mb-2 text-muted">Search Pets</h1>
        
            <form action="/results" method="GET">
        
                <label class="form-label">Zip Code: </label>
                <input type="text" name="zipcode" class="input-group-prepend custom-input"> <br>
                
                <select name="type" class="form-control">
                    <option value="">Select Type</option>
                    <option value="Dog">Dogs</option>
                    <option value="Cat">Cats</option>
                    <option value="Rabbit">Rabbits</option>
                </select>
                <select name="size" class="form-control">
                    <option value="">Select size</option>
                    <option value="Dog">Small</option>
                    <option value="Cat">Medium</option>
                    <option value="Rabbit">Large</option>
                </select>
                <select name="gender" class="form-control">
                    <option value="">Select Gender</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                </select>
                <select name="Age" class="form-control">
                    <option value="">Select Age</option>
                    <option value="Baby">Baby</option>
                    <option value="Young">Yound</option>
                    <option value="Senior">Senior</option>
                </select>
                <br> 
                <br> 
                <button class="btn btn-primary">Search</button>
        
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>