.jumbotron {
    text-align: center;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.card {
    width: 384px;
    height: 512px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(209, 209, 209);
  }
  
  .form-control {
    margin: 0 auto;
    width: 60%;
  }
  
.gallery { 
    margin:auto; 
    width: 1000px; 
    justify-content: space-between; 
    flex-wrap: wrap; 
} 

figure {
    object-fit: cover;
    float:left;
    width: 200px; 
    margin: 10px 0; 
    background-color: white; 
    border: 1px solid; 
} 

figcaption { 
    text-align: center; 
    padding: 10px; 
} 